:root {
    --primary-color: #C9BEBE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    color: #a19191;
}

.container {
    width: 900px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #a19191;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

h2 {
  font-size: 42px;
  letter-spacing: 2.5px;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
nav {
    background-color: #fff;
}

#top-nav nav {
    height: 60px;
}

#top-nav nav .navbar-brand img {
    width: 70%;
}

#top-nav nav .nav-link {
    font-size: 24px;
    color: #a19191;
    /* color: #958383; */
    letter-spacing: 2.5px;
}

/* --------SHOWCASE----------- */
#showcase {
    margin-top: 70px;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1599643332904-ddc6060f3289?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2013&q=80') center/cover no-repeat fixed;
}

#showcase form,
#contact-home form {
  background-color: #ffd100;
  color: #333533;
  width: 500px;
}

#showcase form input,
#showcase form select,
#showcase form textarea {
  border: 1px solid #202020;
}

#showcase form input::placeholder,
#showcase form input:focus,
#showcase form select,
#showcase form textarea::placeholder,
#showcase form textarea:focus {
  color: #202020;
  font-size: 18px;
}

#showcase form div.col {
  background-color: #ffd100;
}

#showcase form h3 {
  font-size: 48px;
}

#showcase nav {
    margin-top: 50px;
    height: 50px;
}

#showcase img {
    height: 100%;
    width: 100%;
    /* -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    
    filter: FlipH;
    -ms-filter: "FlipH"; */
}

/* --------ABOUT----------- */
#about p {
    text-align: justify;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#about-elva img {
    height: 90%;
    width: auto;
}

#about-elva p {
    text-align: justify;
}

/* ------_SERVICES_------ */
#services h3 {
  font-weight: 100;
}

  /* ------CONTACT DIVIDER------ */
#contact-divider {
    /* margin-top: 70px; */
    height: 70vh;
    background: url('https://images.unsplash.com/photo-1593987314040-8e0ac84ae724?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=901&q=80') center/cover no-repeat fixed;
    text-align: center;
}



#contact-divider h2 {
    padding-top: 30vh;
    font-size: 48px;
    font-weight: 400;
}


  /* ------REVIEWS------ */
  #reviews-section {
    /* background-color: #ffd100; */
    font-weight: 700;
    padding: 75px 0;
  }

  #reviews-section .blockquote {
    font-weight: 400;
  }

#reviews-section #container {
    width: 1900px;
}
  
  #reviews-section .carousel-inner {
    max-width: 850px;
  }
  
  #reviews-section .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  #reviews-section .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  

/* ---FOOTER--- */
#contact .first {
  width: 200px;
  margin-left: 75px;
}

#contact .second {
  margin-left: 100px;
}

#contact .third {
  width: 24.333333%;
}

#contact ul {
  padding-left: 0;
}

#contact h3 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
}

#contact .social {
  width: 300px;
  font-size: 32px;;
}

/* #contact-section {
    background-color: #202020;
  } */

  #contact-section {
    margin: 0 auto;
  }
  
  #contact-section .contact-container {
    /* width: 1200px; */
    /* margin: 0 auto; */
  }
  
  #contact-section h3 {
    font-size: 24px;
    letter-spacing: 2px;;
    /* font-weight: 100; */
    /* color: #ffd100; */
    text-transform: uppercase;
  }

  #contact-section p {
    text-align: justify;
  }
  
  #contact-section ul {
    list-style: none;
  }
  
  #contact-section ul.hours {
    padding-left: 0;
  }
  
  #contact-section ul li {
    font-size: 18px;
  }
  
  #contact-section .social {
    width: 200px;
  }
  
  #contact-section .social a {
    /* color: #fff; */
    font-size: 24px;
  }
  
  #contact-section footer a {
    font-size: 13px;
    /* color: #ffd100; */
  }
  
  @media only screen and (max-width: 900px) {
    .photo-container {
      width: calc(50% - 6px);
    }
  }
  
  @media only screen and (max-width: 400px) {
    .photo-container {
      width: 100%;
    }
  }













 
